/*
.block-pantheon-autopilot-demo-notification {
    background-color: #2221b2;
    color: #FFFFFF;
    padding: 1em;
    border-radius: 6px;
}

.l-container-header {
    margin-top: -20px;
}

.hero__content .content {
    font-family: serif;
    color: #aaaaaa;
}

.hero__content {
    border-bottom: 30px solid #cccccc;
}

*/